* {

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: none !important;
    box-sizing: border-box;
}

dl, ol, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}
p {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    overflow-x: hidden;
    font-weight: 400;
    font-family: "Proxima Nova",sans-serif;
}
main {
    overflow-x: hidden;
}
.container {
    max-width: 100%;
    padding: 0 24px;
}
header {
    padding: 10px 0;
    position: relative;
}
header .header-box {
    display: flex;
    align-items: center;
}
header .header-box .logo img {
    width: 100%;
    height: 56px;
}
header .header-box .logo p {
    font-family: "Proxima Nova Extra-Bold",sans-serif;
    font-weight: 800;
    font-size: 17px;
    line-height: 22px;
    color: #1B4FCC;
}
header .header-box .logo span {
    font-size: 14px;
    line-height: 17px;
    color: #1B4FCC;
}
header .header-box .nav_menu li a.active {
    margin: 0 0 0 86px;
    background: #FDE897;
    border: 1px solid #FFCB00;
    border-radius: 4px;
    width: 276px;
    height: 52px;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
}
header .header-box .nav_menu {
    display: flex;
    align-items: center;
}
header .header-box .nav_menu li {
    margin-right: 80px;
}
header .header-box .nav_menu li:last-child {
    margin-right: 0;
}
header .header-box .nav_menu li a {
    font-size: 18px;
    line-height: 22px;
    color: #1B4FCC;
}
header .header-box .nav_menu li a.special-offer{
    color: #FE0199;
}
.section-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #333333;

}
#home {
    padding-bottom: 17px;
}
#home .home-slider .item {
    background: url("../images/genplan 1.png")no-repeat;
    background-size: cover;
    position: relative;
    padding: 60px 0 84px 0;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    z-index: 10;
}

#home .home-slider .item:after {
    content:  "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 15, 87, 0.39);
    z-index: 1;
    border-radius: 6px;
}
#home .home-slider .item span {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    color: #FED700;
    z-index: 10;
    width: 50%;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
    width: 14px;
    height: 26px;
    position: absolute;
}
.owl-carousel .owl-nav button.owl-prev {
    background: url("../images/Chevron Right2.png")no-repeat;
    background-size: cover;
    left: 42px;
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover{
    background: url("../images/Chevron Right2.png")no-repeat;
    background-size: cover;
}
.owl-carousel .owl-nav button.owl-next{
    background: url("../images/Chevron Right2.png")no-repeat;
    transform: rotate(180deg);
    background-size: cover;
    right: 42px;
}
.owl-carousel .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 38%;
}
.owl-theme .owl-dots{
   position: absolute;
    left: 0;
    right: 0;
    bottom: 19px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 0 15px;
    background: rgba(255, 255, 255, 0.62);
    border: none;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
}
.owl-theme .owl-dots .owl-dot:hover span{
    background: #FFFFFF;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #FED700;
}
#content-wrap {
    padding-bottom: 203px;
}
#content-wrap .wrapper {
    flex-direction: row-reverse;
    display: flex;
    width: 100%;
}
#content-wrap .sidebar {
    margin-right: 30px;
    width: 270px;
}
#content-wrap .content {
    width: 100%;
}
.page-navigation {
    margin-bottom: 24px;
}
.page-navigation .nav-wrapper {
    display: flex;
    align-items: center;
}
.page-navigation .nav-wrapper a {
    font-size: 15px;
    line-height: 18px;
    color: #808080;
    margin-right: 38px;
    position: relative;
}
.page-navigation .nav-wrapper a:after{
    content: "";
    background: url("../images/page-arrow.png")no-repeat;
    background-size: contain;
    width: 12px;
    height: 10px;
    position: absolute;
    right: -23px;
    top: 5px;
}
.page-navigation .nav-wrapper a.main {
    text-decoration-line: underline;
    color: #5C8FE4;
}

.page-navigation .nav-wrapper a:last-child:after{
    display: none;
}
.page-navigation .nav-wrapper a:last-child{
    margin-right: 0;
}
.sidebar .sidebar-box {
    padding: 21px;
    background: #FFFFFF;
    box-shadow: 2px 6px 20px rgba(56, 55, 121, 0.18);
    border-radius: 6px;
    height: auto;
}
.sidebar-box .sidebar-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 18px;
}
.sidebar-box .parameter .parameter-title {
    display: flex;
    align-items: center;
}
.sidebar-box .parameter .parameter-title p {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-left: 10px;
}
.sidebar-box .parameter ul {
    margin-bottom: 36px;
}
.sidebar-box .parameter ul li {
    margin-top: 18px;
}
.sidebar-box .parameter ul li a{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: #1B4FCC;
}
.sidebar-box .parameter ul li a span {
    font-size: 16px;
    line-height: 19px;
    margin-left: 12px;
    color: rgba(16, 15, 87, 0.39);
}
#select-block .box {
    padding:33px 176px;
    background: #FED700;
    border-radius: 6px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}
#select-block .box:before{
    content: "";
    width: 240px;
    height: 122px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: url("../images/boxafter.png")no-repeat;
    background-size: cover;
}
#select-block .box:after{
    content: "";
    width: 80px;
    height: 93px;
    position: absolute;
    right: 40px;
    bottom: 0;
    z-index: 0;
    background: url("../images/Group 30.png")no-repeat;
    background-size: contain;
}
.select {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1000;
}

.select__item.active .select__select {
    border-color: #55BB00;
}

.select__item.active .select__number {
    background: #55BB00;
}

.select__item.active .select__icon {
    color: #55BB00;
}

.select__item:first-child {
    margin-left: 0;
}
.select-wrap {
    margin-bottom: 31px;
    margin-top: 16px;
}
.select-wrap a {
    font-size: 12px;
    color: #fd227e;
    margin-left: 12px;
    text-decoration: underline;
}
.select__head {
    position: relative;
    width: 100%;
    height: 56px;
    max-width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 0 22px 0 59px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #616161;
    cursor: pointer;
}
.select__head img {
    margin-right: 16px;
}
.select__head.road:before {
     background: url("../images/road 1.png")no-repeat;
     background-size: contain;
 }
.select__head.metro:before {
    background: url("../images/Vector.png")no-repeat;
    background-size: contain;
    height: 30px;
    width: 21px;
}

.select__head:before {
    content: "";
    background: url("../images/city 3.png")no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 13px;
    top: 13px;
}
.select__head:after{
    content: "";
    background: url("../images/expand_more_24px.png")no-repeat;
    background-size: cover;
    width: 12px;
    height: 8px;
    position: absolute;
    right: 22px;
}
.select__head.open::after {
    transform:  rotate(180deg);
}
.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #EEF2F7;
    border-radius: 2px;
    z-index: 100;
    color: #616161;
    overscroll-behavior: contain;
}
.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.select__list .select__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    cursor: pointer;
    list-style-type: none;
    width: 100%;
    height: 48px;
    padding: 0 0 0 12px;
    display: flex;
    color: #616161;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
}
.select__list .select__item:hover {
    background-color: rgba(224, 229, 231, 0.5);
}
#select-block .search-box {
    background: #FFFFFF;
    border: 2px solid #FFCD00;
    padding: 14px;
    margin-top: 34px;
}
#select-block .search-box form {
    background: #FFCD00;
    width: 100%;
    padding: 7px 34px 6px 6px;
    display: flex;
    align-items: center;
    position: relative;
}
#select-block .search-box form:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18px 18px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    right: 0;
    top: 0;
}
#select-block .search-box form:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 18px 18px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}
#select-block .search-box form input {
    background: #FFFFFF;
    border: 1px solid #719EBC;
    width: 100%;
    padding: 0 5px;
    height: 24px;
}
#select-block .search-box form button {
    background: linear-gradient(180deg, #FFFFFF 0%, #E8E8E8 100%);
    border: 1px solid #717171;
    border-radius: 4px;
    width: 72px;
    height: 24px;
    font-size: 14px;
      line-height: 16px;
    display: flex;
    align-items: center;
   justify-content: center;
    color: #333333;
    margin-left: 8px;
}
#new-buildings {
    padding: 24px 0 6px 0;
}
#new-buildings .section-title {
    margin-bottom: 18px;
}
.building-cart{
    background: #FFFFFF;
    box-shadow: 2px 6px 20px rgba(56, 55, 121, 0.18);
    border-radius: 6px;
    padding: 17px;
    margin-bottom: 40px;
}
.building-cart .main_img {
    margin-bottom: 13px;
    width: 100%;
    height: 216px;
    background-image: url("data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7");
}

.building-cart .building-parametres li.building_name{
    margin-bottom: 11px;
}
.building-cart .building-parametres li.building_name a  {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #1B4FCC;
    transition: .4s ease;
}
.building-cart .building-parametres li.building_name a:hover {
    text-decoration: none;
}
.building-cart .building-parametres {
    padding: 0 0 17px 13px;
}
.building-cart .building-parametres li .img {
    width: 20px;
   display: flex;
    justify-content: center;
}
.building-cart .building-parametres li {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}
.building-cart .building-parametres li div,
.building-cart .building-parametres li a {
    font-size: 16px;
    line-height: 19px;
}
.building-cart .building-parametres li a {
    color: #1B4FCC;
    text-decoration-line: underline;
}
.building-cart .building-parametres li.address .text {
    color: #736F7B;
    margin-left: 15px;
}

.building-cart .building-parametres li.location a {
    margin-left: 16px;
}
.building-cart .building-parametres li.navigation span {
    color: #333333;
    margin-left: 12px;
}
.building-cart .building-parametres li.highway  img,
.building-cart .building-parametres li.developer img{
    width: 20px;
}
.building-cart .building-parametres li.highway {
    align-items: flex-start;
}
.building-cart .building-parametres li.highway .text {
    width: 80%;
    line-height: 24px;
}
.building-cart .building-parametres li.highway .text,
.building-cart .building-parametres li.developer .text{
    color: #736F7B;
    font-weight: 700;
    margin-left: 12px;
}
.building-cart .building-parametres li.developer .text span {
    font-weight: 400;
}
.building-cart .building-parametres li.price .text{
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-left: 15px;
}
.building-cart .building-parametres li.price .text span {
    color: #ED7E1F;
    font-weight: 700;
}
#about-buildings .section-title {
    margin-bottom: 12px;
}
#about-buildings .subtitle {
    font-family: Gotham Pro,sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #736F7B;
}
#one-room_apartments {
    padding: 13px 0 0 0;
}
#one-room_apartments .section-title {
    margin-bottom: 24px;
}
#one-room_apartments table {
    width: 100%;
}
#one-room_apartments table tr.first {
    border-radius: 2px;
    background: rgba(27, 79, 204, 0.51);
    height: 64px;
}
#one-room_apartments .first {
    width: 45%;
}
#one-room_apartments table th {
    padding: 0 10px;
    text-align: center;
}
#one-room_apartments table th.first ,
#one-room_apartments table td.first {
    text-align: left;
    padding: 0 32px;
}
#one-room_apartments table tr.first:hover{
    background: rgba(27, 79, 204, 0.51);
}
#one-room_apartments table tr:hover{
    background: #FED700;
}
#one-room_apartments table tr th{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
#one-room_apartments table tr {
    background: #FCF6EB;
    border-radius: 4px;
    transition: .4s ease;
    padding-right: 32px;
}
#one-room_apartments table tr td {
    font-size: 18px;
    line-height: 30px;
    color: #736F7B;
    padding: 12px 0;
    text-align: center;
}
#one-room_apartments_mobile table tr {
    display: flex;
}

#one-room_apartments_mobile table tr td.name {
    background: rgba(253, 232, 151, 0.65);
    border-radius: 4px;
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #736F7B;
    margin-bottom: 12px;

}
#one-room_apartments_mobile table tr th.first {
    width: 100%;
    text-align: center;
    background: rgba(27, 79, 204, 0.51);
    border-radius: 2px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
#one-room_apartments_mobile table tr.second th,
#one-room_apartments_mobile table tr.second td {
    background: #FFFFFF;
}
#one-room_apartments_mobile table tr.second,
#one-room_apartments_mobile table tr.third{
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#one-room_apartments_mobile table tr.second.two {
    margin-bottom: 9px;
}
#one-room_apartments_mobile table tr.third {
    background: #FCF6EB;
    border-radius: 4px;
}
#one-room_apartments_mobile table tr.third.two{
    margin-bottom: 12px;
}
#one-room_apartments_mobile table tr th,
#one-room_apartments_mobile table tr td {
    width: 50%;
    background: #FCF6EB;
    border-radius: 4px;
    text-align: center;

}
#one-room_apartments_mobile table {
    width: 100%;
}
#one-room_apartments_mobile {
    padding-top: 22px;
    display: none;
}
#one-room_apartments_mobile .section-title {
    margin-bottom: 18px;
}
#property {
    padding: 59px 0 18px 0;
}
#property .section-title {
    margin-bottom: 12px;
}
#property .subtitle {
    margin-bottom: 24px;
}
#property p {
    font-family: "Gotham Pro",sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #736F7B;
}
#property .ul-wrap{
    margin-top: 31px;
}
#property ul {
    display: flex;
}
#property ul li:first-child {
    width: 60%;
}
#property ul li {
    margin-bottom: 18px;
    display: flex;
    align-items: baseline;
}
#property ul li img {
    margin-right: 17px;
}
#sales-offer .section-title {
    margin-bottom: 29px;
}
#sales-offer .offer-slider {
    padding: 0 70px;
}
#sales-offer .offer-slider .item {
    padding: 12px;
}
#sales-offer .no-js .owl-carousel, .owl-carousel.owl-loaded {
   display: grid;
}
#sales-offer .owl-carousel .owl-nav button.owl-prev,
#sales-offer .owl-carousel .owl-nav button.owl-next{
    width: 14px;
    height: 26px;
    position: absolute;
}
#sales-offer .owl-carousel .owl-nav button.owl-prev {
    background: url("../images/Chevron Right.png")no-repeat;
    background-size: cover;
    left: 11px;
}
#sales-offer .owl-carousel .owl-nav button.owl-prev:hover,
#sales-offer .owl-carousel .owl-nav button.owl-next:hover{
    background: url("../images/Chevron Right.png")no-repeat;
    background-size: cover;
}
#sales-offer .owl-carousel .owl-nav button.owl-next{
    background: url("../images/Chevron Right.png")no-repeat;
    transform: rotate(180deg);
    background-size: cover;
    right: 11px;
}
#sales-offer .owl-theme .owl-dots{
    position: relative;
    bottom: 0;
    margin-top: 40px;
}
#sales-offer .building-cart {
    margin-bottom: 10px;
}
#sales-offer .owl-theme .owl-dots .owl-dot span{
    background: #E5E5E5;
}

#sales-offer .owl-theme .owl-dots .owl-dot.active span {
    background: #F50007;
}
#sales-offer .owl-carousel .owl-item img {
    width: auto!important;
}
footer {
    background: rgba(220, 187, 7, 0.66);
    padding: 24px 0 32px 0;
    margin-top: 203px;
}
footer .container {
    padding: 0 182px;
}
footer .footer-top {
    display: flex;
    align-items: center;
}
footer .footer-top .logo{
    margin-right: 95px;
}
footer .footer-top ul {
    display: flex;
    align-items: center;
}
footer .footer-top ul li {
    margin-right: 50px;
}
footer .footer-top ul li:last-child{
    margin-right: 0;
}
footer .footer-top ul li a {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}
footer .footer-bottom{
    margin-top: 235px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .footer-bottom p.mobile {
    display: none;
}

.mobile-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 16px;
    z-index: 99999999;
    visibility: hidden;
    cursor: pointer;
}
header .header-box .nav_menu.active {
    visibility: visible;
    width: 100%;
    height: 100vh;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 1000000;
    left: 0;
    top: 0;
}
header .header-box .nav_menu.active li {
    margin-right: 0;
    margin-bottom: 15px;
}
header .header-box .nav_menu.active li a.active {
    margin: 0;
    color: #000000;
}
header .header-box .nav_menu.active li a {
    color: #FFFFFF;
}
.phone_number {
    display: none;
}

/*card.html styles start*/

#building .section-title {
    text-align: left;
    margin-bottom: 25px;
}
#building .building_info {
    padding-right: 25px;
    padding-left: 7px;
}
#building .building_info p {
    font-size: 16px;
    line-height: 25px;
    color: #736F7B;
}
#building .building_info p:first-child {
    margin-bottom: 25px;
}
#building .building-img img {
    width: 100%;
    border-radius: 6px;
}
#building .owl-theme .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -37px;
}
#building .owl-theme .owl-dots .owl-dot.active span {
    background: #F50007;
}
#building .owl-theme .owl-dots .owl-dot span {
    background: #E5E5E5;
    margin: 0 7px;
}
#building .owl-carousel .owl-nav button.owl-prev,
#building .owl-carousel .owl-nav button.owl-prev:hover{
    background: url("../images/arrow-left.png")no-repeat;
    background-size: contain;
    z-index: 1000;
    width: 45px;
    height: 45px;
    margin: 0;
}
#building .owl-carousel .owl-nav button.owl-next ,
#building .owl-carousel .owl-nav button.owl-next:hover {
    background: url("../images/arrow-right.png")no-repeat;
    background-size: contain;
    z-index: 1000;
    width: 45px;
    height: 45px;
    margin: 0;
    transform: rotate(0);
}
#building .owl-carousel .owl-nav button.owl-next{
    right:0;
    top: 50%;
}
#building .owl-carousel .owl-nav button.owl-prev{
    left:0;
    top: 50%;
}
#building .building-navigation {
    margin-top: 46px;
    background: #FFF9D7;
    border-radius: 10px;
    width: 100%;
    padding: 21px 0 17px 157px;
    position: relative;
}
#building .building-navigation:before{
    content: "";
    position: absolute;
    left: 45px;
    bottom: 0;
    background: url("../images/Group 30.png")no-repeat;
    background-size: contain;
    width: 80px;
    height: 93px;
}
#building .building-navigation .title{
    font-family:"Proxima Nova",sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}
#building .building-navigation .highway,
#building .building-navigation .location {
    font-family:"Proxima Nova",sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #333333
}
#building .building-navigation .highway {
    margin: 9px 0 15px 0;
}
#building .building-navigation .highway a {
    text-decoration-line: underline;
    color: #1B4FCC;
}
#building .building-navigation .highway a:first-child{
    margin-left: 9px;
}
#address {
    padding-top: 37px;
}
#address .section-title {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    margin-bottom: 27px;
}
#address .map iframe {
    height: 475px;
}
#address .subtitle {
    margin-top: 14px;
    font-size: 16px;
    line-height: 25px;
    color: #736F7B;
}
#address .subtitle a {
    text-decoration: underline;
    color: #1B4FCC;
}
#buildings-beside {
    padding: 30px 0 76px 0;
}
#buildings-beside .section-title {
    text-align: left;
    margin-bottom: 20px;
}
#buildings-beside .box {
    background: #FFFFFF;
    box-shadow: 2px 6px 10px rgba(56, 55, 121, 0.12);
    border-radius: 6px;
    padding: 17px 17px 32px 17px;
    cursor: pointer;
    transition: .4s ease-in;
}
#buildings-beside .box:hover {
    box-shadow: 4px 4px 30px 20px rgba(41, 57, 116, 0.18);
}
#buildings-beside .box .wrapper {

}
#buildings-beside .box img {
    margin-bottom: 23px;
}
#buildings-beside .box .name {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #1B4FCC;
    padding-left: 13px;
}
#reviews .section-title {
    margin-bottom: 42px;
}
#reviews .reviews-box {
    margin:0 109px 0 106px;
}
#reviews .reviews-box .review {
    padding: 20px 73px 35px 35px;
    background: #EAF2F9;
    margin-bottom: 40px;
    position: relative;
    transition: .3s ease-in-out;
    height: 167px;
}
#reviews .reviews-box .review:hover{
    background: #FFF9D7;
}
#reviews .reviews-box .review:hover:after{
    border-color: #FFF9D7 transparent transparent transparent;
}
#reviews .reviews-box .review:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 22px 0 0;
    border-color: #eaf2f9 transparent transparent transparent;
    position: absolute;
    left: 0;
    bottom: -22px;
    transition: .3s ease-in-out;
}
#reviews .reviews-box .review .review-header {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
}
#reviews .reviews-box .review .review-header .name {
    font-family:"Proxima Nova",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #B53759;
}
#reviews .reviews-box .review .review-header .time {
    font-size: 18px;
    line-height: 21px;
    color: #9299A2;
    margin-left: 16px;
}
#reviews .reviews-box .review .review-body {
    font-size: 16px;
    line-height: 25px;
    color: #555A66;
}
#form-comment {
    padding: 63px 0 188px 0;
}
#form-comment .section-title {
    margin-bottom: 15px;
}
#form-comment .comment-box {
    background: #FED700;
    border-radius: 6px;
    width: 100%;
    padding: 48px 176px;
    position: relative;
}
#form-comment .comment-box:before {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/paper-plane 1.png")no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
#form-comment .comment-box:after {
    content: "";
    width: 132px;
    height: 154px;
    background: url("../images/Group 65.png")no-repeat;
    background-size: contain;
    position: absolute;
    right: 14px;
    top: 95px;
}
#form-comment .comment-box input {
    width: 100%;
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 18px 20px;
    border: none;
    margin-bottom: 22px;
     position: relative;
    z-index: 100;
}
#form-comment .comment-box button {
    cursor: pointer;
    background: #21A038;
    border-radius: 4px;
    width: 100%;
    height: 75px;
    border: none;
    font-family: 'Proxima Nova',sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
     position: relative;
    z-index: 100;
}
#form-comment .comment-box button.mobile {
    display: none;
}
#form-comment .comment-box textarea {
    width: 100%;
    height: 100%;
    padding: 18px 20px;
    border: none;
    border-radius: 4px;
    position: relative;
    z-index: 100;
}
#form-comment .comment-box input::placeholder,
#form-comment .comment-box textarea::placeholder{
    font-family: 'Proxima Nova',sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #736F7B;
}
#card-page #one-room_apartments {
    padding: 24px 0 0 0;
}
#card-page #one-room_apartments .section-title {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 9px;
}
#card-page #one-room_apartments .section-subtitle {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #736F7B;
    font-family: "Gotham Pro",sans-serif;
}

#card-page #one-room_apartments table tr td {
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}
#card-page #one-room_apartments_mobile table tr td {
    background: #FCF6EB;
}
#card-page #one-room_apartments_mobile table tr td.name {
    color: #333333;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: none;
    margin-bottom: 0;
}
#card-page #one-room_apartments_mobile table tr.second.two {
    margin-bottom: 3px;
}
#card-page #one-room_apartments_mobile table tr.second th,
#card-page #one-room_apartments_mobile table tr.third th{
    color: rgba(27, 79, 204, 0.51);
    font-family: 'Proxima Nova',sans-serif;
}
#card-page #one-room_apartments_mobile table tr.second {
    height: 33px;
    justify-content: flex-start;
}
#card-page #one-room_apartments_mobile table tr.second th:first-child,
#card-page #one-room_apartments_mobile table tr.second td:first-child{
    width: 40%;
}
#card-page #one-room_apartments_mobile table tr.second th:last-child,
#card-page #one-room_apartments_mobile table tr.second td:last-child{
    width: 60%;
}
#card-page #one-room_apartments_mobile table tr.second td {
    background: #FFFFFF;
}
/*card.html styles end*/